  <body ng-controller = "MainCtrl">

    <header>
      <h1>To Do -></h1>
    </header>

    <div class = "container" style = "height: 500px">

      <div ng-repeat = "todo in todos" ng-class ="">
        <div class = "todo-item">
          <div>
            <input type="checkbox" id="cbox2" value="second_checkbox" >
            <h4 ng-bind="todo.title"></h4>
            <i class="fa fa-times" ng-click="destroyTodo(todo)"></i>
          <!--   add a confirm after this -->
          </div>
        </div>
      </div>

      <div class = "form-container">
        <form ng-submit = "save(todo)">
          <input type="text"
            class="input-grey"
            ng-model="todo.title"
            name="todo"
            placeholder= "what do you need todo?"
            style = "">

          <button type = "submit">
            Add
          </button>
        </form>
      </div>
      todos!!! {{todos}}
    </div>

  </body>
