  <body ng-controller = "MainCtrl">

    <header>
      <h1>To Do -></h1>
    </header>

    <div class = "container">

      <div ng-repeat = "todo in todos | filter:statusFilter track by $index"
        ng-class = "{firstToDo:$first}">
        <div class = "todo-item"
          ng-class="{completed:todo.completed}">
          <div>
            <input
              type="checkbox"
              ng-model="todo.completed"
              ng-click= "checkAndSave(todo)">
            <h4 ng-bind="todo.title">
            </h4>
            <i class="fa fa-times" ng-click="delete(todo)"></i>
          </div>
        </div>
      </div>

      <div class = "form-container">
        <form name="todoForm" ng-submit = "save(todo)" >
          <input type="text"
            class="input-grey"
            ng-model="todo.title"
            name="todo"
            placeholder= "what do you need todo?"
            required="">
          <button type = "submit">
            Add
          </button>

          <div
            class = "error"
            ng-show = "todoForm.todo.$invalid && !todoForm.todo.$pristine"> Please enter a todo item
          </div>

        </form>
      </div>
    </div>

  </body>
