  <body ng-controller = "MainCtrl">

    <header id = "header">
      <h1>todos</h1>
    </header>

    <h1>Todos <br> {{todos}} </h1>

    <i class="fa fa-plus" style = "color:red;font-size:40px"></i>

  </body>
